version: "3.9"

services:
  db:
    image: postgres:15
    container_name: ecommerce-postgres
    environment:
      POSTGRES_USER: adi
      POSTGRES_PASSWORD: def484
      POSTGRES_DB: ecommerce_user_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
